section.advantages#advantages
  .container.advantages__container
    h2.section-title.advantages__title(data-aos="fade-down", data-aos-once="true",data-aos-delay="500", data-aos-duration="1000") Advantages
    //- Item
    figure.advantages__item.advantages-item
      .advantages-item__icon(data-aos="fade-right", data-aos-once="true",data-aos-delay="500")
        include ../../static/images/svg/customizable.svg
      figcaption.advantages-item__title Customizable
    //- End item

    //- Item
    figure.advantages__item.advantages-item
      .advantages-item__icon(data-aos="fade-right", data-aos-once="true",data-aos-delay="500")
        include ../../static/images/svg/availability.svg
      figcaption.advantages-item__title Availability
    //- End item

    //- Item
    figure.advantages__item.advantages-item
      .advantages-item__icon(data-aos="fade-left", data-aos-once="true",data-aos-delay="500")
        include ../../static/images/svg/ease-of-use.svg
      figcaption.advantages-item__title Ease of use
    //- End item

    //- Item
    figure.advantages__item.advantages-item
      .advantages-item__icon(data-aos="fade-left", data-aos-once="true",data-aos-delay="500")
        include ../../static/images/svg/delivery.svg
      figcaption.advantages-item__title Delivery
    //- End item