section.advantages#advantages
  .container.advantages__container
    h2.section-title.advantages__title Advantages
    //- Item
    figure.advantages__item.advantages-item
      .advantages-item__icon
        include ../../static/images/svg/customizable.svg
      figcaption.advantages-item__title Customizable
    //- End item

    //- Item
    figure.advantages__item.advantages-item
      .advantages-item__icon
        include ../../static/images/svg/availability.svg
      figcaption.advantages-item__title Availability
    //- End item

    //- Item
    figure.advantages__item.advantages-item
      .advantages-item__icon
        include ../../static/images/svg/ease-of-use.svg
      figcaption.advantages-item__title Ease of use
    //- End item

    //- Item
    figure.advantages__item.advantages-item
      .advantages-item__icon
        include ../../static/images/svg/delivery.svg
      figcaption.advantages-item__title Delivery
    //- End item