section.download#download
  //- .download__in
  //- Content container
  .container.download__container
    .download__content
      h2.section-title.download__general-title Download
      h3.section-subtitle.download__title Application for you
      .download__text
        p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
      .download__stores
        a.download__store-item(href="/")
          include ../../static/images/svg/google-play.svg
        a.download__store-item(href="/")
          include ../../static/images/svg/app-store.svg
    //- Dots
    +dots(7, 'blue', 'download__dots')
  //- End content container

  //- Phone
  img.download__phone-img(src="./static/images/download/phone.png", alt="download app")
  //- End phone