.header__navbar.navbar
  .container.navbar__container
    //- Logo side
    a.navbar__logo-link(href="#top") Logo

    //- Rigt side
    .navbar__controls
      //- Navigation
      nav.navbar__nav.nav
        ul.nav__list
          li.nav__item
            a.nav__link(href="#about") About
          li.nav__item
            a.nav__link(href="#how") How work
          li.nav__item
            a.nav__link(href="#contacts") Contacts
      //- End navigation

      //- Language switcher
      .navbar__lng.lng
        | lng swtch
      //- End language switcher

      //- Button
      a.navbar__btn.btn.btn__type_first(href="/") download app
      //- End button