@import "buttons/buttons";
@import "header/header";
@import "navigation/navigation";
@import "small-blocks/small-blocks";
@import "container/container";
@import "footer/footer";
@import "navbar/navbar.scss";
@import "dots/dots.scss";
@import "about/about.scss";
@import "advantages/advantages.scss";
@import "how/how.scss";
@import "download/download.scss";
@import "input/input.scss";
@import "lng/lng.scss";

@media screen and (max-width: 1699px) {
  @import "container/container-to-1200.scss";
  @import "header/header-to-1200.scss";
  @import "about/about-to-1200.scss";
  @import "dots/dots-to-1200.scss";
  @import "advantages/advantages-to-1200.scss";
  @import "how/how-to-1200.scss";
  @import "download/download-to-1200.scss";
  @import "footer/footer-to-1200.scss";
}

@media screen and (max-width: 1199px) {
  .section-title {
    font-size: 150px;
  }

  @import "container/container-to-992.scss";
  @import "header/header-to-992.scss";
  @import "navbar/navbar-to-992.scss";
  @import "about/about-to-992.scss";
  @import "advantages/advantages-to-992.scss";
  @import "how/how-to-992.scss";
  @import "download/download-to-992.scss";
  @import "footer/footer-to-992.scss";
}

@media screen and (max-width: 991px) {
  .section-title {
    font-size: 100px;
  }

  .section-subtitle {
    font-size: 40px;
  }

  @import "container/container-to-768.scss";
  @import "buttons/button-to-768.scss";
  @import "lng/lng-to-768.scss";
  @import "navbar/navbar-to-768.scss";
  @import "header/header-to-768.scss";
  @import "dots/dots-to-768.scss";
  @import "about/about-to-768.scss";
  @import "advantages/advantages-to-768.scss";
  @import "how/how-to-768.scss";
  @import "download/download-to-768.scss";
  @import "footer/footer-to-768.scss";
}