.footer {
  &__title {
    top: 80px;
  }

  &__container {
    flex-wrap: wrap;
  }

  &__send-mail {
    flex-basis: 100%;
    padding-right: 60%;
  }

  &__contacts {
    margin-left: 0;
    margin-top: 50px;
  }
}