.download {
  &__general-title {
    font-size: 70px;
  }

  &__title {
    font-size: 40px;
  }

  &__content {
    padding-bottom: 20px;
  }

  &__stores {
    margin-top: 30px;
  }

  &__store-item {
    width: 170px;

    svg {
      max-width: 100%;
    }
  }

  &__in {
    height: 380px;
  }

  &__phone-img {
    // width: 315px;
    // left: -255px;
    // top: -70px;
    left: 8%;
    width: 365px;
    top: 461px;
  }

  &__container {
    &:before {
      height: 350px;
    }  
  
    &:after {
      height: 350px;
      width: calc( (100vw - 960px) / 2 );
    }
  }
}