.download {
  &__in {
    width: 100%;
    background: rgba($white, .9);
  }

  &__container {
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
    position: relative;
    transform: translate(0,0);

    &:before, &:after {
      display: none;
    }
  }

  &__content {
    margin: auto;
    margin-top: 50px;
    margin-left: -10px;
  }

  &__phone-img {
    left: 0;
    top: auto;
    bottom: -90px;
  }

  &__general-title {
    top: -60px;
  }
}