.download {
  &__in {
    width: 55vw;
    height: 450px;
  }

  &__container {
    // left: calc(650px - 45vw);
    &:after {
      width: calc( (100vw - 1140px) / 2 );
    }
  }

  &__phone-img {
    // width: 375px;
    // left: auto;
    // right: 95%;
    // top: -80px;
  }

  &__content {
    margin-right: 35px;
    max-width: 500px;
  }

  &__general-title {
    left: 90px;
    top: -45px;
    font-size: 90px;
  }

  &__dots {
    bottom: -100px;
  }
}