.how {
  &__general-title {
    font-size: 45px;
  }

  &__container {
    padding-top: 40px;
  }

  &__desc-slider {
    margin-left: 0;
    width: 100%;
  }

  &__img-slider-wr {
    left: 0;
    top: 260px;
  }

  &__dots {
    bottom: 380px;
    left: 200px;
  }
}

.how-desc-slider {
  .swiper-pagination-fraction {
    font-size: 16px;
  }

  .swiper-pagination-current {
    font-size: 30px;
  }

  &__title {
    font-size: 30px;
  }

  &__slide {
    min-height: 380px;
  }

  &__text {
    margin-top: 10px;
  }

  &__prev-slide, &__next-slide {
    bottom: 192px;
    width: 35px;
    height: 35px;
  }
}